<div class="container">
    <div class="title">
      <h2>Entre los beneficios que ofrecemos se encuentran <span class="color-primary">;)</span></h2>
    </div>
    <div class="benefits">
      <div class="benefit">
        <img src="assets/Ic_Hour.svg" alt="">
        <p>Flexibilidad Horaria</p>
    </div>
    <div class="benefit">
        <img src="assets/Ic_HomeOffice.svg" alt="">
        <p>Home Office</p>
    </div>
    <div class="benefit">
        <img src="assets/Ic_Workshops.svg" alt="">
        <p>Capacitaciones y workshops</p>
    </div>
    <div class="benefit">
        <img src="assets/Ic_DrinkSnacks.svg" alt="">
        <p>Snacks, frutas y bebidas gratis</p>
    </div>
    <div class="benefit">
        <img src="assets/Ic_laptop.svg" alt="">
        <p>Semana Remota</p>
    </div>
    <div class="benefit">
        <img src="assets/Ic_brain.svg" alt="">
        <p>Trabajar en últimas tecnologías</p>
    </div>  
  </div>
</div>