<div class="container">
  <div class="content">
    <h1>Registro</h1>
    <form [formGroup]="fg" (ngSubmit)="onSubmit(fg)">
      <div class="form-control">
        <div><label>Nombre</label> <br>
          <input formControlName="firstName" type="text" placeholder="Ingrese nombre"/></div>
        <app-error [needValidate$]="needValidate$" [control]="fg.controls['firstName']" ></app-error>

        <div><label>Apellido</label> <br>
          <input formControlName="lastName"  type="text" placeholder="Ingrese apellido"/></div>
        <app-error [needValidate$]="needValidate$" [control]="fg.controls['lastName']" ></app-error>
      </div>
      <div class="form-control">
        <div>
          <label>Teléfono</label> <br>
          <input type="number" formControlName="phone"  placeholder="Teléfono"/>
          <app-error [needValidate$]="needValidate$" [control]="fg.controls['phone']" ></app-error>
        </div>
      </div>
      <div class="form-control">
        <div>
          <label>País</label><br>
          <select class="form-select" formControlName="country" (change)="onChangeCountry($event)">
            <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
          </select>
          <app-error [needValidate$]="needValidate$" [control]="fg.controls['country']" ></app-error>
        </div>

        <div>
          <label>Provincia</label><br>
          <select class="form-select" formControlName="province">
            <option  *ngFor="let province of getProvinces()" value="province">{{province}}</option>
          </select>
          <app-error [needValidate$]="needValidate$" [control]="fg.controls['province']" ></app-error>
        </div>
      </div>
      <div class="form-control">
        <label>Email</label><br>
        <input formControlName="email" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Correo electrónico"/>
        <app-error [needValidate$]="needValidate$" [control]="fg.controls['email']" ></app-error>
      </div>
      <div class="form-control">
        <div>
          <label for="inputPassword">Contraseña</label><br>
          <input formControlName="password" id="inputPassword" type="password" placeholder="Contraseña"/>
          <app-error [needValidate$]="needValidate$" [control]="fg.controls['password']" ></app-error>
        </div>
        <div>
          <label for="inputConfirmPassword">Repita Contraseña</label><br>
          <input id="inputConfirmPassword" type="password" placeholder="Repita contraseña"/>
        </div>
      </div>
      <div>
        <button [disabled]="disableButton" type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</div>
